body{
    color: blue;
}
.section {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #dadada;
  }

.poster {
    position: relative;
    display: flex;
    width: 500px;
    height: 700px;
    padding-top: 48px;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(2, 59, 163);}

.circle{
    position: absolute;
    top:340px;
    margin-left: 16px;   
    height: 310px;
    width: 310px;
    border-radius: 50%;
    border: solid rgb(219, 219, 219) 6px;
    display: inline-block;
}

.block{
    position: absolute;
    top:530px;
    height: 220px;
    width: 500px;
    background-color:rgb(4, 121, 121);
    display:block;

}

.text{
    position:absolute;
    top: 200px;
    font-size: 50px;
    font-family:helvetica;
    letter-spacing:-1px ;
    font-style: black;
    color:rgb(219, 219, 219);
    
}